{% extends 'base.html.twig' %}

{% block title %}Edition{% endblock %}
{% block body %}
 {% include "partials/header.html.twig" %}
    <section class="container">
        <div class="row">
            <div class="col mt-5">
               <div class="w-full text-2xl flex justify-center"> <h1>Edition de profil</h1></div>
    
                {{ form_start(registrationForm) }}
                <fieldset>
                    <legend>Identité</legend>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}
                </fieldset>
                <fieldset>
                    <legend>Informations</legend>
                    {{ form_row(registrationForm.username) }}
                </fieldset>
                    <button type="submit" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Modifier</button>
                {{ form_end(registrationForm) }}
            
            </div>
        </div>
    </section>

{% endblock %}
