<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Standby - Connexion</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
    </head>
<body>
    <div class="main flex items-center justify-center min-h-screen">
        <div class="w-1/2 px-8 py-6 mt-4 text-left shadow-lg" style="background-color: #fff;">
            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connectez en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                </div>
            {% else %}
                <h3 class="text-2xl font-bold text-center">Connexion</h3>
                <form action="" method="post">
                    <div class="form-control my-5">
		        	{% if error %}
		        		<div class="alert bg-red-700 text-white flex justify-center items-center">
		        			<p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
		        		</div>
    	        	{% endif %}
    	        	</div>
                    <div class="mt-4">
                        <div class="form-contro">
                            <label class="block" for="inputUsername">Pseudo</label>
                            <input type="text" placeholder="Pseudo" value="{{ last_username }}" name="username" id="inputUsername" class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" autocomplete="username" required autofocus>                                
                        </div>
                        <div class="mt-4 form-contro">
                            <label class="block" for="inputPassword">Mot de passe</label>
                            <input type="password" name="password" placeholder="Mot de passe" id="inputPassword" class="form-control w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" autocomplete="current-password" required>
                        </div>
                        <div class="mt-4 flex flex-col items-baseline justify-between">
                            <div class="flex justify-between items-center w-full">
                                <button type="submit" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Connexion</button>
                                <a href="#" class="text-sm text-blue-600 hover:underline">Mot de passe oublié?</a>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="w-full flex justify-center">
                                <p>Pas de compte ? <a href="{{path('app_register')}}" class="text-sm text-blue-600 hover:underline">M'inscrire</a></p>
                            </div>
                           
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>