{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{% include "partials/header.html.twig" %}
<div class="flex flex-col justify-between items-center container mt-10 w-full">
    <h1 class="text-3xl w-full text-center">Dernier articles ajoutés</h1>

    <div class="flex flex-wrap justify-around m-5">
        {% for article in articles %}
           <div class="sm:w-full sm:p-5 sm:m-2 md:w-1/3 md:m-2 md:p-2 border-2 shadow-sm">
                <h1 class="text-center text-blue-600">{{ article.title }}</h1>
                <div>
                    <p>
                    <span class="font-bold">Ajouté le </span> {{article.createdAt | date('d-m-Y à H:i') }}
                    </p>
                </div>
                <p>
                    <span class="font-bold">Catégorie: </span><a href="{{path('category.showArticleByCategory', {'id' : article.category.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">{{article.category.name}}</a>
                </p>
                <div>{{article.description}}</div>
                <div>
                    <a href="http://{{article.link}}" target="_blank" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">Lire plus</a>
                </div>
           </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
