{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            <div class="col mt-5">
               <div class="w-full text-2xl flex justify-center"> <h1>Inscription</h1></div>
    
                {{ form_start(registrationForm) }}
                <fieldset>
                    <legend>Identité</legend>
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}
                </fieldset>
                <fieldset>
                    <legend>Informations</legend>
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </fieldset>
                    {{ form_row(registrationForm.agreeTerms) }}
                    

                    <button type="submit" class="px-6 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-900">Inscription</button>
                {{ form_end(registrationForm) }}
            
            </div>
        </div>
    </section>

{% endblock %}
