<div class="my-4 flex justify-around items-center w-full">
	<h1 class="text-4xl">{{ Title }}</h1>
	<a href="#">
		<i class="text-2xl fa-solid fa-circle-plus hover:cursor-pointer hover:text-blue-700"></i>
	</a>
</div>