<footer class="w-full  mt-5 p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-900">
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8">
    <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a href="http://igal-ilmi.fr/" target="_blank" class="hover:underline">IAI</a>. Tous droits réservé.
    </span>
</footer>