{% extends "base.html.twig" %}
{% block title %}
    Modification de Catégorie
{% endblock %}
{% block body %}
{% include "partials/header.html.twig" %}
   <div class="flex flex-col justify-between items-between mr-auto ml-auto p-5 my-10 w-1/2">
   <h1>Modification de la catégorie "{{category.name}}"</h1>

    {{ form_start(categoryType) }}
	{{ form_widget(categoryType) }}
	<div class="flex justify-center">
		<button type="submit" class="bg-transparent text-green-500 border-2 border-green-500 hover:bg-green-500 hover:text-white py-2 px-4">Modifier</button>
	</div>
	{{ form_end(categoryType) }}
   </div>
{% endblock %}