{% extends 'base.html.twig' %}
{% block title %}Catégories{% endblock %}
{% block body %}
{% include "partials/header.html.twig" %}
   <div class="my-4 flex justify-around items-center w-full">
	<h1 class="text-4xl">Liste des Catégories</h1>
	{% if is_granted('ROLE_ADMIN') %} 
        <a href="{{path('category.create') }}">
            <i class="text-2xl fa-solid fa-circle-plus hover:cursor-pointer hover:text-blue-700"></i>
        </a>
    {% endif %}
</div>
   <div class="overflow-x-auto h-full mt-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6 text-center">
                    Nom <i id="icon_title_sort" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="text-center py-4 px-6">
                        {{category.name}}
                    </td>
                    <td class="text-center py-4 px-6">
                    <a href="{{path('category.showArticleByCategory', {'id' : category.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center"><i class="fa-solid fa-eye"></i></a>
                    {% if app.user and is_granted('ROLE_ADMIN')  %}
                        <a href="{{path('category.delete', {'id' : category.id}) }}" class="font-medium text-red-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-trash-can"></i></a>
                            <a href="{{path('category.edit', {'id' : category.id}) }}" class="font-medium text-green-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-pen-to-square"></i></a>
                    {% endif %}
                    
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}