    @import "tailwindcss/base";
    @import "tailwindcss/components";
    @import "tailwindcss/utilities";
    body {
        background-color: #fff;
        margin: 0;
        box-sizing: border-box;
    }
    
    // LOGIN FORM
    .main {
        background-image: url("../img/login_bg.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        //     .main_form {
        //         background-color: transparent;
        //     }
    }