{% extends 'base.html.twig' %}
{% block title %}Articles{% endblock %}
{% block body %}
{% include "partials/header.html.twig" %}
   <div class="my-4 flex justify-around items-center w-full">
	{% if categoryName is defined %}
        <h1 class="text-4xl">{{ categoryName }}</h1>
    {% else %}
        <h1 class="text-4xl">Liste des articles</h1>
    {% endif %}
    
	{% if app.user %}
        <a href="{{path('article.new')}}">
		    <i class="text-2xl fa-solid fa-circle-plus hover:cursor-pointer hover:text-blue-700"></i>
	    </a>
    {% endif %}
    
</div>
   <div class="overflow-x-auto h-full mt-5">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6 text-center">
                    Titre <i id="icon_title_sort" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Categorie <i id="icon_category_icon" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Type <i id="icon_type_sort" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Lien <i id="title" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Auteur <i id="icon_author_sort" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Date création <i id="icon_author_sort" class="hover:text-blue-700 hover:cursor-pointer fas fa-solid fa-sort mx-2"></i>
                </th>
                <th scope="col" class="py-3 px-6 text-center">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for article in articles %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="text-center py-4 px-6">
                        {{article.title}}
                    </td>
                    <td class="text-center py-4 px-6">
                        <a href="{{path('category.showArticleByCategory', {'id' : article.category.id}) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline text-center">{{article.category.name}}</a>
                    </td>
                    <td class="text-center py-4 px-6">
                        {{article.type}}
                    </td>
                    <td class="text-center py-4 px-6 hover:text-blue-700">
                        <a href="http://{{article.link}}" target="_blank">{{article.link}}</a>
                    </td>
                    <td class="text-center py-4 px-6">
                        {{article.author.username}}
                    </td>
                    <td class="text-center py-4 px-6">
                        {{article.createdAt | date('d-m-Y')}}
                    </td>
                    <td class="text-center py-4 px-6">
                    {% if app.user and (app.user.id == article.author.id or is_granted('ROLE_ADMIN')) %}
                        <a href="{{path('article.delete', {'id' : article.id}) }}" class="font-medium text-red-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-trash-can"></i></a>
                            <a href="{{path('article.edit', {'id' : article.id}) }}" class="font-medium text-green-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-pen-to-square"></i></a>
                    {% endif %}
                    
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}